/* Styles for the tabs and their content */
.tab {
    display: none;
}
.tab.active {
    display: block;
}
.tab-button {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
.tab-button.active {
    background-color: #fff;
    border-bottom: 2px solid #000;
}

/* Styles for the character table */
.character-table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
}
.character-table th,
.character-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ffffff;
}
.character-table th {
    background-color: #08934a;
    font-weight: bold;
}
.character-table tr:hover {
    background-color: #08934a;
    cursor: pointer;
}